[submodule "cryptonote"]
        path = cryptonote
        url = https://github.com/usexfg/fuego.git
        branch = master
[submodule "libqrencode"]
	path = libqrencode
	url = https://github.com/fukuchi/libqrencode
	branch = master
[submodule "xfgwin"]
	path = xfgwin
	url = https://github.com/colinritman/xfgwin.git
	branch = complete-xfgwin-system
